Repository esynr3z/CorSaiR: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, check-yaml, check-toml, check-json, poetry-check, poetry-lock

ruff-format:
  name: Python format
  description: Run Python code formatting with ruff
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-lint:
  name: Python lint check
  description: Run Python code linting with ruff
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

pyright:
  name: Python type check
  description: Run Python code type checking with pyright
  entry: poetry run pyright
  language: system
  stages:
  - pre-commit

check-yaml:
  name: YAML check
  description: Validate all changed YAML files
  entry: poetry run check-yaml
  language: python
  stages:
  - pre-commit

check-toml:
  name: TOML check
  description: Validate all changed TOML files
  entry: poetry run check-toml
  language: python
  stages:
  - pre-commit

check-json:
  name: JSON check
  description: Validate all changed JSON files
  entry: poetry run check-json
  language: python
  stages:
  - pre-commit

poetry-check:
  name: Poetry configuration check
  description: Run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

poetry-lock:
  name: Poetry lock update
  description: Run poetry lock to update lock file
  entry: poetry lock
  language: python
  pass_filenames: false

test: add more tests for the model
  tests/loaders/data/err_enum_empty.yaml
  tests/loaders/data/err_enum_member_name_dup.yaml
  tests/loaders/data/err_enum_member_value_dup.yaml
  tests/loaders/data/err_field_enum_exceeds_width.yaml
  tests/loaders/data/err_field_hw_enable_no_input.yaml
  tests/loaders/data/err_field_hw_exclusive.yaml
  tests/loaders/data/err_field_hw_queue_access.yaml
  tests/loaders/data/err_field_reset_exceeds_width.yaml
  tests/loaders/data/err_map_reg_name_dup.yaml
  tests/loaders/data/err_map_reg_offset_dup.yaml
  tests/loaders/data/err_map_reg_offset_unaligned.yaml
  tests/loaders/data/err_map_reg_out_of_bounds.yaml
  tests/loaders/data/err_register_field_exceeds_width.yaml
  tests/loaders/data/err_register_fields_name_dup.yaml
  tests/loaders/data/err_register_fields_overlap.yaml
  tests/loaders/data/ok_field_min.yaml
  tests/loaders/data/ok_field_with_enum_reset.yaml
  tests/loaders/data/ok_reg_min.yaml
Due: check-yaml

fix: remove custom configuration option from check command
  src/corsair/_app/check.py
Due: ruff-format, ruff-lint, pyright

fix(cursor): update python rules
  .cursor/rules/python_rules.mdc
Due: none

refactor: simplify check command
  pyproject.toml
  src/corsair/_app/check.py
  src/corsair/_app/main.py
  src/corsair/_loaders/base.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, check-toml, poetry-check, poetry-lock

chore: rename test data
  tests/loaders/data/err_enum_empty.csrmap.yaml
  tests/loaders/data/err_enum_member_name_dup.csrmap.yaml
  tests/loaders/data/err_enum_member_value_dup.csrmap.yaml
  tests/loaders/data/err_field_enum_exceeds_width.csrmap.yaml
  tests/loaders/data/err_field_hw_enable_no_input.csrmap.yaml
  tests/loaders/data/err_field_hw_exclusive.csrmap.yaml
  tests/loaders/data/err_field_hw_queue_access.csrmap.yaml
  tests/loaders/data/err_field_reset_exceeds_width.csrmap.yaml
  tests/loaders/data/err_map_address_width_no.csrmap.yaml
  tests/loaders/data/err_map_address_width_null.csrmap.yaml
  tests/loaders/data/err_map_address_width_wrong_neg.csrmap.yaml
  tests/loaders/data/err_map_address_width_wrong_str.csrmap.yaml
  tests/loaders/data/err_map_address_width_wrong_zero.csrmap.yaml
  tests/loaders/data/err_map_doc_no.csrmap.yaml
  tests/loaders/data/err_map_doc_null.csrmap.yaml
  tests/loaders/data/err_map_doc_wrong.csrmap.yaml
  tests/loaders/data/err_map_empty.csrmap.yaml
  tests/loaders/data/err_map_offset_no.csrmap.yaml
  tests/loaders/data/err_map_offset_null.csrmap.yaml
  tests/loaders/data/err_map_offset_wrong_neg.csrmap.yaml
  tests/loaders/data/err_map_offset_wrong_str.csrmap.yaml
  tests/loaders/data/err_map_reg_name_dup.csrmap.yaml
  tests/loaders/data/err_map_reg_offset_dup.csrmap.yaml
  tests/loaders/data/err_map_reg_offset_unaligned.csrmap.yaml
  tests/loaders/data/err_map_reg_out_of_bounds.csrmap.yaml
  tests/loaders/data/err_map_register_width_no.csrmap.yaml
  tests/loaders/data/err_map_register_width_null.csrmap.yaml
  tests/loaders/data/err_map_register_width_wrong_min.csrmap.yaml
  tests/loaders/data/err_map_register_width_wrong_neg.csrmap.yaml
  tests/loaders/data/err_map_register_width_wrong_npot.csrmap.yaml
  tests/loaders/data/err_map_register_width_wrong_zero.csrmap.yaml
  tests/loaders/data/err_register_field_exceeds_width.csrmap.yaml
  tests/loaders/data/err_register_fields_name_dup.csrmap.yaml
  tests/loaders/data/err_register_fields_overlap.csrmap.yaml
  tests/loaders/data/ok_field_min.csrmap.yaml
  tests/loaders/data/ok_field_with_enum_reset.csrmap.yaml
  tests/loaders/data/ok_map_min.csrmap.yaml
  tests/loaders/data/ok_reg_min.csrmap.yaml
Due: check-yaml

test: add tests for check command
  src/corsair/_app/check.py
  src/corsair/_model.py
  tests/cli/data/invalid.csrbuild.toml
  tests/cli/data/invalid.csrmap.hjson
  tests/cli/data/invalid.csrmap.json
  tests/cli/data/invalid.csrmap.toml
  tests/cli/data/invalid.csrmap.yaml
  tests/cli/data/valid.csrbuild.toml
  tests/cli/data/valid.csrmap.hjson
  tests/cli/data/valid.csrmap.json
  tests/cli/data/valid.csrmap.toml
  tests/cli/data/valid.csrmap.yaml
  tests/cli/test_check.py
Due: ruff-format, ruff-lint, pyright, check-yaml, check-toml, check-json

fix: add note to fix python map checking later
  src/corsair/_app/check.py
Due: ruff-format, ruff-lint, pyright

test: add tests for schema command
  .cursor/rules/python_rules.mdc
  tests/cli/test_schema.py
Due: ruff-format, ruff-lint, pyright

test: replace manual smoke test marking with marking only large tests
  .pre-commit-config.yaml
  tests/cli/test_check.py
  tests/cli/test_logging.py
  tests/conftest.py
  tests/model/test_access.py
  tests/model/test_convert_loc.py
  tests/model/test_enum.py
  tests/model/test_field.py
  tests/model/test_field_array.py
  tests/model/test_hardware.py
  tests/model/test_item.py
  tests/model/test_map.py
  tests/model/test_map_array.py
  tests/model/test_memory.py
  tests/model/test_memory_array.py
  tests/model/test_register.py
  tests/model/test_register_array.py
  tests/test_build.py
Due: ruff-format, ruff-lint, pyright, check-yaml

feat: implement skeleton for the build command
  src/corsair/_app/build.py
  src/corsair/_app/main.py
  src/corsair/_generators/base.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  src/corsair/_loaders/base.py
  src/corsair/_loaders/serialized.py
  tests/test_build.py
Due: ruff-format, ruff-lint, pyright

fix: make model raise errors when nonimplemented features are used
  src/corsair/_model.py
  tests/model/test_map.py
Due: ruff-format, ruff-lint, pyright

feat: add initial markdown generator
  src/corsair/__init__.py
  src/corsair/_app/build.py
  src/corsair/_app/main.py
  src/corsair/_generators/__init__.py
  src/corsair/_generators/base.py
  src/corsair/_generators/markdown.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  src/corsair/_templates/__init__.py
  src/corsair/_templates/env.py
  src/corsair/_templates/regmap.md.j2
Due: ruff-format, ruff-lint, pyright

feat: add fields printing to markdown template
  src/corsair/_generators/base.py
  src/corsair/_generators/markdown.py
  src/corsair/_model.py
  src/corsair/_templates/regmap.md.j2
  tests/model/test_register.py
Due: ruff-format, ruff-lint, pyright

fix: minor fixes of markdown template
  src/corsair/_templates/regmap.md.j2
Due: none

feat: add wavedrom generator and update markdown one
  .gitignore
  pyproject.toml
  src/corsair/_app/build.py
  src/corsair/_generators/__init__.py
  src/corsair/_generators/markdown.py
  src/corsair/_generators/wavedrom.py
  src/corsair/_templates/regmap.md.j2
  uv.lock
Due: ruff-format, ruff-lint, pyright, check-toml, poetry-check, poetry-lock

test: add tests for the build command
  pyproject.toml
  src/corsair/_app/build.py
  src/corsair/_model.py
  tests/cli/test_build.py
Due: ruff-format, ruff-lint, pyright, check-toml, poetry-check, poetry-lock

fix: remove csrmap toml support
  src/corsair/_app/check.py
  src/corsair/_loaders/serialized.py
  tests/cli/data/invalid.csrmap.toml
  tests/cli/data/valid.csrmap.toml
  tests/cli/test_build.py
  tests/cli/test_check.py
Due: ruff-format, ruff-lint, pyright, check-toml

test: add tests for json and hjson csrmap loaders
  pyproject.toml
  tests/loaders/test_loaders.py
Due: ruff-format, ruff-lint, pyright, check-toml, poetry-check, poetry-lock

refactor: switch to yaml format for csrbuild
  pyproject.toml
  src/corsair/_app/build.py
  src/corsair/_app/check.py
  src/corsair/_build.py
  src/corsair/_generators/base.py
  src/corsair/_generators/markdown.py
  tests/cli/data/invalid.csrbuild.toml
  tests/cli/data/invalid.csrbuild.yaml
  tests/cli/data/valid.csrbuild.toml
  tests/cli/data/valid.csrbuild.yaml
  tests/cli/test_build.py
  tests/cli/test_check.py
  tests/generators/test_custom.py
  tests/test_build.py
  uv.lock
Due: ruff-format, ruff-lint, pyright, check-yaml, check-toml, poetry-check, poetry-lock

test: add initial tests for markdown generator
  src/corsair/__init__.py
  src/corsair/_templates/regmap.md.j2
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright

feat: refactor markdown template
  src/corsair/_model.py
  src/corsair/_templates/regmap.md.j2
  tests/generators/test_markdown.py
  tests/model/test_item.py
Due: ruff-format, ruff-lint, pyright

fix: make pre generation checks more uniform
  src/corsair/_generators/base.py
  src/corsair/_generators/markdown.py
  src/corsair/_generators/wavedrom.py
Due: ruff-format, ruff-lint, pyright

refactor: remove custom generator and improve error handling
  src/corsair/__init__.py
  src/corsair/_generators/__init__.py
  src/corsair/_generators/base.py
  src/corsair/_generators/markdown.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  src/corsair/_generators/wavedrom.py
  tests/generators/test_custom.py
Due: ruff-format, ruff-lint, pyright

refactor: remove custom loader
  src/corsair/__init__.py
  src/corsair/_loaders/__init__.py
  src/corsair/_loaders/base.py
  src/corsair/_loaders/pymodule.py
  src/corsair/_loaders/serialized.py
Due: ruff-format, ruff-lint, pyright

fix: remove wrongly commited file
  csrmap.schema.json
Due: check-json

ci: add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: check-json

ci: make ci run in devcontainer
  .devcontainer/Dockerfile
  .github/workflows/test.yml
Due: check-yaml

ci: update with correct settings
  .github/workflows/test.yml
Due: check-yaml

ci: update
  .devcontainer/Dockerfile
  .github/workflows/test.yml
Due: check-yaml

ci: update
  .github/workflows/test.yml
Due: check-yaml

ci: update
  .github/workflows/ci.yml
Due: check-yaml

ci: fix issue with commit checking
  .github/workflows/ci.yml
  pyproject.toml
Due: check-yaml, check-toml, poetry-check, poetry-lock

ci: add more python versions to matrix
  .github/workflows/ci.yml
Due: check-yaml

ci: add multhread pytest coverage collection
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, poetry-check, poetry-lock

ci: remove test coverage
  .github/workflows/ci.yml
Due: check-yaml

ci: update pre-commit hook with schema generation
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  schemas/corsair-build-schema.json
  schemas/corsair-map-schema.json
  schemas/generate.sh
Due: check-yaml, check-json

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  pyright: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
