Repository esynr3z/CorSaiR: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, check-yaml, check-toml, check-json, poetry-check, poetry-lock

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Python format
        description: Run Python code formatting with ruff
        entry: poetry run ruff format
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: ruff-lint
        name: Python lint check
        description: Run Python code linting with ruff
        entry: poetry run ruff check --fix
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: pyright
        name: Python type check
        description: Run Python code type checking with pyright
        entry: poetry run pyright
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: check-yaml
        name: YAML check
        description: Validate all changed YAML files
        entry: poetry run check-yaml
        language: python
        types: [yaml]
        stages: [pre-commit]

      - id: check-toml
        name: TOML check
        description: Validate all changed TOML files
        entry: poetry run check-toml
        language: python
        types: [toml]
        stages: [pre-commit]

      - id: check-json
        name: JSON check
        description: Validate all changed JSON files
        entry: poetry run check-json
        language: python
        types: [json]
        stages: [pre-commit]

      - id: commitizen
        name: Commit style check
        description: Run commitizen to validate commit message
        stages: [commit-msg]
        entry: cz check --commit-msg-file .git/COMMIT_EDITMSG
        pass_filenames: false
        language: system

      - id: poetry-check
        name: Poetry configuration check
        description: Run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$

      - id: poetry-lock
        name: Poetry lock update
        description: Run poetry lock to update lock file
        entry: poetry lock
        language: python
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$

      - id: poetry-install
        name: poetry-install
        description: Run poetry install to install dependencies from the lock file
        entry: poetry install
        language: python
        pass_filenames: false
        stages: [post-checkout, post-merge]
        always_run: true

docs: add readme for schemas
  schemas/README.md
Due: none

docs: update schemas readme
  schemas/README.md
Due: none

chore: update devcontainer with schema settings
  .devcontainer/devcontainer.json
Due: check-json

feat: add extra and template_name fields to generator configs
  schemas/corsair-build-schema.json
  src/corsair/_generators/base.py
  src/corsair/_generators/markdown.py
  src/corsair/_templates/env.py
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright, check-json

feat: add template_searchpaths to generator config
  schemas/corsair-build-schema.json
  src/corsair/_generators/base.py
  src/corsair/_templates/env.py
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright, check-json

ci: split single workflow into multiple
  .github/workflows/devcontainer.yml
  .github/workflows/tests.yml
Due: check-yaml

ci: add documentation workflow
  .github/workflows/docs.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, poetry-check, poetry-lock

ci: fix documentation workflow
  .github/workflows/docs.yml
Due: check-yaml

docs: update site information
  mkdocs.yml
Due: check-yaml

ci: fix token issues in docs workflow
  .github/workflows/docs.yml
Due: check-yaml

ci: add validation step to documentation flow
  .github/workflows/docs.yml
  mkdocs.yml
Due: check-yaml

docs: fix relative liks to assets
  docs/concepts/build-specification.md
  docs/concepts/customization.md
  docs/concepts/file-confidence.md
  docs/concepts/generators.md
  docs/concepts/parsers.md
  docs/concepts/register-model.md
  docs/concepts/workflow.md
Due: none

ci: switch to non-root user for devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: check-json

docs: update workflow images for concepts section
  .gitignore
  docs/assets/images/flow-build-specification.drawio.svg
  docs/assets/images/flow-customization.drawio.svg
  docs/assets/images/flow-file-confidence.drawio.svg
  docs/assets/images/flow-generators.drawio.svg
  docs/assets/images/flow-parsers.drawio.svg
  docs/assets/images/flow-register-model.drawio.svg
  docs/assets/images/flow.drawio.svg
Due: none

docs: update changelog
  CHANGELOG.md
  docs/changelog.md
Due: none

docs: update contributing guide
  CONTRIBUTING.md
  docs/contributing.md
Due: none

docs: update readme
  README.md
Due: none

chore: fix python classifiers in pyproject.toml
  pyproject.toml
Due: check-toml, poetry-check, poetry-lock

ci: add todo extension to devcontainer
  .devcontainer/devcontainer.json
Due: check-json

docs: replace TBD with TODO for correct plugin work
  docs/blog/index.md
  docs/build-file/config.md
  docs/build-file/index.md
  docs/build-file/targets/asciidoc.md
  docs/build-file/targets/c-header.md
  docs/build-file/targets/custom.md
  docs/build-file/targets/markdown.md
  docs/build-file/targets/sv-package.md
  docs/build-file/targets/sv.md
  docs/build-file/targets/verilog-header.md
  docs/build-file/targets/verilog.md
  docs/build-file/targets/vhdl.md
  docs/concepts/build-specification.md
  docs/concepts/customization.md
  docs/concepts/file-confidence.md
  docs/concepts/generators.md
  docs/concepts/index.md
  docs/concepts/parsers.md
  docs/concepts/philosophy.md
  docs/concepts/register-model.md
  docs/concepts/workflow.md
  docs/cookbook/api/custom-flow.md
  docs/cookbook/cli/create-project.md
  docs/cookbook/index.md
  docs/first-steps.md
  docs/hardware/fields/index.md
  docs/hardware/protocols/index.md
  docs/index.md
  docs/installation.md
  docs/register-file/custom.md
  docs/register-file/index.md
  docs/register-file/json.md
  docs/register-file/toml.md
  docs/register-file/yaml.md
Due: none

docs: update index page of concepts
  docs/concepts/index.md
Due: none

docs: update philosophy page
  docs/concepts/philosophy.md
Due: none

docs: fix parsers mentioning within concepts section
  docs/assets/images/flow-build-specification.drawio.svg
  docs/assets/images/flow-customization.drawio.svg
  docs/assets/images/flow-file-confidence.drawio.svg
  docs/assets/images/flow-generators.drawio.svg
  docs/assets/images/flow-loaders.drawio.svg
  docs/assets/images/flow-parsers.drawio.svg
  docs/assets/images/flow-register-model.drawio.svg
  docs/assets/images/flow.drawio.svg
  docs/concepts/loaders.md
  docs/concepts/parsers.md
  mkdocs.yml
Due: check-yaml

docs: add workflow description
  docs/concepts/workflow.md
Due: none

docs: disable line numbers and add copy button to code blocks
  mkdocs.yml
Due: check-yaml

chore: add and update cursor rules
  .cursor/rules/doc_rules.mdc
  .cursor/rules/general_rules.mdc
  .cursor/rules/git_rules.mdc
  .cursor/rules/python_rules.mdc
Due: none

feat(docs): add automatic CLI command documentation generation
  .cursor/rules/git_rules.mdc
  docs/cli/commands.md
  docs/cli/index.md
  docs/concepts/workflow.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, poetry-check, poetry-lock

docs: add API generation
  docs/api.md
  docs/api/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, poetry-check, poetry-lock

docs: remove non-ascii symbol from contributing guide
  docs/contributing.md
Due: none

docs: simplify cli page
  docs/cli.md
  docs/cli/index.md
  docs/concepts/workflow.md
  mkdocs.yml
Due: check-yaml

docs: remove extra empty lines
  docs/concepts/workflow.md
Due: none

docs: fix broken links
  docs/concepts/index.md
Due: none

ci: relax docs validation because of unfixable warnings
  .github/workflows/docs.yml
Due: check-yaml

docs: write build specification section fo concepts
  docs/concepts/build-specification.md
Due: none

feat: auto-generate CLI reference and improve docs CI
  .cursor/rules/git_rules.mdc
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  docs/cli.md
  docs/generate.sh
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, poetry-check, poetry-lock

docs: add schemas to the docs site
  docs/corsair-build-schema.json
  docs/corsair-map-schema.json
Due: check-json

docs: write about loaders for concepts section
  docs/concepts/loaders.md
Due: none

docs: describe register model concept
  docs/concepts/register-model.md
Due: none

docs: change order of sections
  mkdocs.yml
Due: check-yaml
