Repository esynr3z/CorSaiR: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, pyright, check-yaml, check-toml, check-json, uv-lock

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Python format
        description: Run Python code formatting with ruff
        entry: uv run ruff format
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: ruff-lint
        name: Python lint check
        description: Run Python code linting with ruff
        entry: uv run ruff check --fix
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: pyright
        name: Python type check
        description: Run Python code type checking with pyright
        entry: uv run pyright
        language: system
        types: [file, python]
        stages: [pre-commit]

      - id: check-yaml
        name: YAML check
        description: Validate all changed YAML files
        entry: uv run check-yaml
        language: python
        types: [yaml]
        stages: [pre-commit]
        exclude: ^mkdocs\.yml$

      - id: check-toml
        name: TOML check
        description: Validate all changed TOML files
        entry: uv run check-toml
        language: python
        types: [toml]
        stages: [pre-commit]

      - id: check-json
        name: JSON check
        description: Validate all changed JSON files
        entry: uv run check-json
        language: python
        types: [json]
        stages: [pre-commit]

      - id: schemas
        name: Corsair schemas generation
        description: Generate all schemas
        entry: schemas/generate.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: derived-docs
        name: Generation of derived documentation
        description: Generate all derived documentation
        entry: docs/generate.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: commitizen
        name: Commit style check
        description: Run commitizen to validate commit message
        stages: [commit-msg]
        entry: uv run cz check --commit-msg-file .git/COMMIT_EDITMSG
        pass_filenames: false
        language: system

      - id: uv-lock
        name: UV lock update
        description: Run uv lock to update lock file
        entry: uv lock
        language: python
        pass_filenames: false
        files: ^(.*/)?(uv\.lock|pyproject\.toml)$

      - id: pytest
        name: Pytest smoke testing
        description: Run pytest to execute all smoke tests
        entry: uv run pytest -m "not large"
        language: system
        pass_filenames: false
        stages: [pre-commit]
        always_run: true

docs: disable integration of toc into sections
  mkdocs.yml
Due: none

docs: update information about loaders and generators concepts
  docs/build-file/config.md
  docs/build-file/generators/asciidoc.md
  docs/build-file/generators/c-header.md
  docs/build-file/generators/custom.md
  docs/build-file/generators/index.md
  docs/build-file/generators/markdown.md
  docs/build-file/generators/sv-package.md
  docs/build-file/generators/sv.md
  docs/build-file/generators/verilog-header.md
  docs/build-file/generators/verilog.md
  docs/build-file/generators/vhdl.md
  docs/build-file/loaders/index.md
  docs/concepts/generators.md
  docs/concepts/loaders.md
  docs/concepts/register-model.md
  mkdocs.yml
Due: none

docs: write customization concept
  docs/concepts/customization.md
Due: none

docs: add disclaimer about 2.x version
  docs/index.md
Due: none

docs: update README.md
  README.md
Due: none

chore: create config.yml for github issues
  .github/ISSUE_TEMPLATE/config.yml
Due: check-yaml

chore: create task.yml github issue template
  .github/ISSUE_TEMPLATE/task.yml
Due: check-yaml

docs: update home page
  docs/index.md
Due: none

docs: add installation instructions
  docs/installation.md
Due: none

fix: fix missing access modes as rw
  src/corsair/_model.py
  tests/model/test_access.py
Due: ruff-format, ruff-lint, pyright

fix: remove unused method from BuildSpecification
  src/corsair/_build.py
  tests/test_build.py
Due: ruff-format, ruff-lint, pyright

feat: add init cli command to create example project
  src/corsair/_app/init.py
  src/corsair/_app/main.py
  tests/cli/test_init.py
Due: ruff-format, ruff-lint, pyright

fix: fix pre-commit issues
  docs/cli.md
  src/corsair/_app/init.py
Due: ruff-format, ruff-lint, pyright

docs: update docs after cli init command was added
  docs/changelog.md
  docs/first-steps.md
Due: none

docs: write section about file confidence
  docs/concepts/file-confidence.md
Due: none

feat: make disclaimer optional and include informative comment to markdown template (#145)
  schemas/corsair-build-schema.json
  src/corsair/_generators/markdown.py
  src/corsair/_templates/regmap.md.j2
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright, check-json

fix: prettify markdown template
  src/corsair/_app/init.py
  src/corsair/_model.py
  src/corsair/_templates/regmap.md.j2
Due: ruff-format, ruff-lint, pyright

refactor(generators/markdown): rename options from print_* to show_*
  schemas/corsair-build-schema.json
  src/corsair/_app/init.py
  src/corsair/_generators/markdown.py
  src/corsair/_templates/regmap.md.j2
  tests/cli/test_build.py
  tests/cli/test_init.py
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright, check-json

feat(generators/markdown): add show_hardware_mode option
  schemas/corsair-build-schema.json
  src/corsair/_generators/markdown.py
  src/corsair/_templates/regmap.md.j2
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright, check-json

feat(generators/markdown): add use_table_for_fields option
  schemas/corsair-build-schema.json
  src/corsair/_generators/markdown.py
  src/corsair/_templates/regmap.md.j2
  tests/generators/test_markdown.py
Due: ruff-format, ruff-lint, pyright, check-json

docs: update first-steps section
  docs/first-steps.md
  mkdocs.yml
Due: none

docs: update contributing guide with tabs for code
  docs/contributing.md
Due: none

fix(cli/init): prettify outputs content
  src/corsair/_app/init.py
Due: ruff-format, ruff-lint, pyright

docs: rework build file docs
  docs/build-file/generators/asciidoc.md
  docs/build-file/generators/c-header.md
  docs/build-file/generators/custom.md
  docs/build-file/generators/index.md
  docs/build-file/generators/markdown.md
  docs/build-file/generators/sv-package.md
  docs/build-file/generators/sv.md
  docs/build-file/generators/verilog-header.md
  docs/build-file/generators/verilog.md
  docs/build-file/generators/vhdl.md
  docs/build-file/index.md
  docs/build-file/loaders/index.md
  docs/build-file/validation.md
  mkdocs.yml
Due: none
