Repository esynr3z/CorSaiR: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff_lint, pyright, check-yaml, check-toml, check-json

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
    - id: ruff_format
      name: Python format check
      entry: poetry run ruff format --check --diff
      language: system
      types: [file, python]
      stages: [pre-commit]
    - id: ruff_lint
      name: Python lint check
      entry: poetry run ruff check
      language: system
      types: [file, python]
      stages: [pre-commit]
    - id: pyright
      name: Python type check
      entry: poetry run pyright
      language: system
      types: [file, python]
      stages: [pre-commit]
    - id: check-yaml
      name: YAML check
      entry: poetry run check-yaml
      language: python
      types: [yaml]
      stages: [pre-commit]
    - id: check-toml
      name: TOML check
      entry: poetry run check-toml
      language: python
      types: [toml]
      stages: [pre-commit]
    - id: check-json
      name: JSON check
      entry: poetry run check-json
      language: python
      types: [json]
      stages: [pre-commit]
    - id: commitizen
      name: Commit style check
      stages: [commit-msg]
      entry: cz check --commit-msg-file .git/COMMIT_EDITMSG
      pass_filenames: false
      language: system

refactor: rework entry point of the application and add logger (#79)
  corsair/__main__.py
  corsair/app.py
  corsair/cli.py
  corsair/log.py
  corsair/project.py
  corsair/utils.py
  pyproject.toml
Due: ruff_format, ruff_lint, pyright, check-toml

feat: rework entry point and add some input format data models
  .pre-commit-config.yaml
  corsair/__main__.py
  corsair/app.py
  corsair/cli.py
  corsair/input/__init__.py
  corsair/input/buildspec.py
  corsair/input/config.py
  corsair/input/target.py
  corsair/log.py
  corsair/project.py
  poetry.lock
  pyproject.toml
Due: ruff_format, ruff_lint, pyright, check-yaml, check-toml

fix: update buildspec and add tests
  .gitignore
  .pre-commit-config.yaml
  conftest.py
  corsair/cli.py
  corsair/input/buildspec.py
  corsair/input/config.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  tests/input/__init__.py
  tests/input/test_buildspec.py
  tests/input/test_config.py
  tests/input/test_target.py
Due: ruff_format, ruff_lint, pyright, check-yaml, check-toml

feat: implement HwMode class to represent bitfield hardware modes
  corsair/__init__.py
  corsair/core/__init__.py
  corsair/core/hwmode.py
  poetry.lock
  pyproject.toml
  tests/core/__init__.py
  tests/core/test_hwmode.py
Due: ruff_format, ruff_lint, pyright, check-toml

fix: move HwMode to bitfield module
  corsair/core/__init__.py
  corsair/core/bitfield.py
  tests/core/test_hwmode.py
Due: ruff_format, ruff_lint, pyright

feat: implement core/bitfield
  corsair/__init__.py
  corsair/core/__init__.py
  corsair/core/bitfield.py
  corsair/core/item.py
  corsair/core/types.py
  corsair/input/__init__.py
  corsair/input/config.py
  corsair/input/target.py
  poetry.lock
  pyproject.toml
  tests/core/__init__.py
  tests/core/bitfield/__init__.py
  tests/core/bitfield/test_access.py
  tests/core/bitfield/test_bitfield.py
  tests/core/bitfield/test_enum.py
  tests/core/bitfield/test_hardware.py
  tests/core/bitfield/test_item.py
  tests/core/test_hwmode.py
  tests/input/test_config.py
Due: ruff_format, ruff_lint, pyright, check-toml

fix: remove legacy docs
  docs/.gitignore
  docs/Makefile
  docs/_static/custom.css
  docs/amm.rst
  docs/apb.rst
  docs/axil.rst
  docs/changelog.rst
  docs/conf.py
  docs/config-api.rst
  docs/config.rst
  docs/contributing.rst
  docs/generators-api.rst
  docs/img/bitfield.svg
  docs/img/corsair_flow.excalidraw
  docs/img/corsair_flow.png
  docs/img/logo.png
  docs/img/logo.svg
  docs/img/logo_white.png
  docs/img/regmap.excalidraw
  docs/img/regmap.png
  docs/index.rst
  docs/introduction.rst
  docs/lb.rst
  docs/make.bat
  docs/regmap-api.rst
  docs/regmap.rst
  docs/requirements.txt
Due: ruff_format, ruff_lint, pyright

feat: switch to uv from poetry
  .github/workflows/publish-on-release.yml
  .github/workflows/test-on-push.yml
  .github/workflows/test.yml
  .pep8speaks.yml
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-dev.txt
  src/corsair/__init__.py
  src/corsair/__main__.py
  src/corsair/cli.py
  src/corsair/core/__init__.py
  src/corsair/core/bitfield.py
  src/corsair/core/item.py
  src/corsair/core/types.py
  src/corsair/input/__init__.py
  src/corsair/input/buildspec.py
  src/corsair/input/config.py
  src/corsair/input/target.py
  src/corsair/log.py
  src/corsair/utils.py
  src/corsair/version.py
  tests/conftest.py
  uv.lock
Due: ruff_format, ruff_lint, pyright, check-yaml, check-toml

docs: update register model naming
  docs/assets/images/flow-build-specification.drawio.svg
  docs/assets/images/flow-customization.drawio.svg
  docs/assets/images/flow-file-confidence.drawio.svg
  docs/assets/images/flow-generators.drawio.svg
  docs/assets/images/flow-parsers.drawio.svg
  docs/assets/images/flow-register-model.drawio.svg
  docs/assets/images/flow.drawio.svg
Due: none

feat: create internal register model
  pyproject.toml
  src/corsair/__init__.py
  src/corsair/core/__init__.py
  src/corsair/core/enum.py
  src/corsair/core/field.py
  src/corsair/core/item.py
  src/corsair/core/register.py
  src/corsair/core/types.py
  tests/core/bitfield/test_bitfield.py
  tests/core/bitfield/test_enum.py
  tests/core/field/__init__.py
  tests/core/field/test_access.py
  tests/core/field/test_enum.py
  tests/core/field/test_field.py
  tests/core/field/test_hardware.py
  tests/core/test_item.py
Due: ruff_format, ruff_lint, pyright, check-toml

feat: rework internal csr model
  pyproject.toml
  src/corsair/__init__.py
  src/corsair/_types.py
  src/corsair/core/__init__.py
  src/corsair/core/enum.py
  src/corsair/core/field.py
  src/corsair/core/item.py
  src/corsair/core/register.py
  src/corsair/input/config.py
  src/corsair/input/target.py
  src/corsair/model.py
  tests/core/__init__.py
  tests/core/field/__init__.py
  tests/core/field/test_access.py
  tests/core/field/test_enum.py
  tests/core/field/test_field.py
  tests/core/field/test_hardware.py
  tests/model/__init__.py
  tests/model/test_access.py
  tests/model/test_enum.py
  tests/model/test_field.py
  tests/model/test_field_array.py
  tests/model/test_hardware.py
  tests/model/test_item.py
  tests/model/test_map.py
  tests/model/test_map_array.py
  tests/model/test_memory.py
  tests/model/test_memory_array.py
  tests/model/test_register.py
  tests/model/test_register_array.py
  tests/model/utils.py
  uv.lock
Due: ruff_format, ruff_lint, pyright, check-toml

feat: rework cli application sctructure
  pyproject.toml
  src/corsair/__init__.py
  src/corsair/__main__.py
  src/corsair/_app/__init__.py
  src/corsair/_app/build.py
  src/corsair/_app/check.py
  src/corsair/_app/init.py
  src/corsair/_app/log.py
  src/corsair/_app/main.py
  src/corsair/_app/schemas.py
  src/corsair/_app/version.py
  src/corsair/_version.py
  src/corsair/cli.py
  src/corsair/log.py
  src/corsair/version.py
Due: ruff_format, ruff_lint, pyright, check-toml

test: add tests for cli logging
  pyproject.toml
  src/corsair/_app/log.py
  src/corsair/_app/main.py
  src/corsair/input/target.py
  tests/cli/__init__.py
  tests/cli/test_logging.py
Due: ruff_format, ruff_lint, pyright, check-toml

feat: add parsers and generator base classes
  src/corsair/__init__.py
  src/corsair/_build.py
  src/corsair/_generators/__init__.py
  src/corsair/_generators/base.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  src/corsair/_model.py
  src/corsair/_parsers/__init__.py
  src/corsair/_parsers/base.py
  src/corsair/_parsers/deserializer.py
  src/corsair/input/__init__.py
  src/corsair/input/buildspec.py
  src/corsair/input/config.py
  src/corsair/input/target.py
  src/corsair/utils.py
  tests/input/__init__.py
  tests/input/test_buildspec.py
  tests/input/test_config.py
  tests/input/test_target.py
  tests/model/test_access.py
  tests/model/test_enum.py
  tests/model/test_field.py
  tests/model/test_hardware.py
  tests/model/test_item.py
  tests/model/utils.py
  tests/test_build.py
Due: ruff_format, ruff_lint, pyright

feat: add base classes for templates
  src/corsair/__init__.py
  src/corsair/_templates/__init__.py
  src/corsair/_templates/env.py
  src/corsair/_templates/regmap.v.j2
  src/corsair/_templates/regmap.vhd.j2
Due: ruff_format, ruff_lint, pyright

feat: add marker file for pep-561 support
  src/corsair/py.typed
Due: none

fix: add mising build specification import
  src/corsair/__init__.py
Due: ruff_format, ruff_lint, pyright

fix: prettify build specification and related
  src/corsair/_build.py
  src/corsair/_generators/base.py
  src/corsair/_parsers/__init__.py
  src/corsair/_parsers/base.py
Due: ruff_format, ruff_lint, pyright

fix: add test for build specification
  src/corsair/_build.py
  src/corsair/_generators/base.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  tests/test_build.py
Due: ruff_format, ruff_lint, pyright

feat: add schema command
  src/corsair/_app/main.py
  src/corsair/_app/schema.py
  src/corsair/_app/schemas.py
Due: ruff_format, ruff_lint, pyright

feat: implement custom generator loading functionality
  src/corsair/_generators/base.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  tests/generators/__init__.py
  tests/generators/test_custom.py
Due: ruff_format, ruff_lint, pyright

feat: update loaders and generators
  src/corsair/__init__.py
  src/corsair/_build.py
  src/corsair/_generators/base.py
  src/corsair/_generators/verilog.py
  src/corsair/_generators/vhdl.py
  src/corsair/_loaders/__init__.py
  src/corsair/_loaders/base.py
  src/corsair/_loaders/pymodule.py
  src/corsair/_loaders/serialized.py
  src/corsair/_parsers/__init__.py
  src/corsair/_parsers/base.py
  src/corsair/_parsers/deserializer.py
  src/corsair/_types.py
  tests/test_build.py
Due: ruff_format, ruff_lint, pyright

feat: implement loader from serialized formats
  pyproject.toml
  src/corsair/_loaders/base.py
  src/corsair/_loaders/serialized.py
  uv.lock
Due: ruff_format, ruff_lint, pyright, check-toml

fix: forbid extre arguments for generator configs
  src/corsair/_generators/base.py
Due: ruff_format, ruff_lint, pyright

fix: add property to obtain loader class for a config
  src/corsair/_loaders/base.py
  src/corsair/_loaders/serialized.py
Due: ruff_format, ruff_lint, pyright

feat: add discriminators to the model and apply some fixes
  src/corsair/_model.py
Due: ruff_format, ruff_lint, pyright

fix: make current loaders concrete
  src/corsair/_loaders/pymodule.py
  src/corsair/_loaders/serialized.py
Due: ruff_format, ruff_lint, pyright

feat: add initial version of check command
  src/corsair/_app/check.py
Due: ruff_format, ruff_lint, pyright

test: add tests for a register
  src/corsair/_model.py
  tests/model/test_register.py
  tests/model/utils.py
Due: ruff_format, ruff_lint, pyright

test: add tests to a memory class
  src/corsair/_model.py
  tests/model/test_memory.py
  tests/model/utils.py
Due: ruff_format, ruff_lint, pyright

test: add tests for Map class
  src/corsair/_model.py
  tests/model/test_map.py
Due: ruff_format, ruff_lint, pyright

feat: make logging more user friendly
  src/corsair/_app/check.py
  src/corsair/_app/log.py
  src/corsair/_app/main.py
  src/corsair/_app/schema.py
  tests/cli/test_logging.py
Due: ruff_format, ruff_lint, pyright

fix: make test-logging command is hidden
  src/corsair/_app/main.py
Due: ruff_format, ruff_lint, pyright

feat: update cli
  src/corsair/_app/check.py
  src/corsair/_app/main.py
Due: ruff_format, ruff_lint, pyright

feat: update model
  src/corsair/_app/log.py
  src/corsair/_model.py
  tests/cli/test_logging.py
  tests/loaders/__init__.py
  tests/loaders/data/err_empty.yaml
  tests/loaders/data/err_no_items.yaml
  tests/loaders/test_loaders.py
  tests/model/test_item.py
Due: ruff_format, ruff_lint, pyright, check-yaml

feat: add cursor rules for python
  .cursor/rules/python_rules.mdc
Due: none

test: add more tests for the model
  src/corsair/_model.py
  tests/loaders/data/err_empty.yaml
  tests/loaders/data/err_map_address_width_no.yaml
  tests/loaders/data/err_map_address_width_null.yaml
  tests/loaders/data/err_map_address_width_wrong_neg.yaml
  tests/loaders/data/err_map_address_width_wrong_str.yaml
  tests/loaders/data/err_map_address_width_wrong_zero.yaml
  tests/loaders/data/err_map_doc_no.yaml
  tests/loaders/data/err_map_doc_null.yaml
  tests/loaders/data/err_map_doc_wrong.yaml
  tests/loaders/data/err_map_empty.yaml
  tests/loaders/data/err_map_offset_no.yaml
  tests/loaders/data/err_map_offset_null.yaml
  tests/loaders/data/err_map_offset_wrong_neg.yaml
  tests/loaders/data/err_map_offset_wrong_str.yaml
  tests/loaders/data/err_map_register_width_no.yaml
  tests/loaders/data/err_map_register_width_null.yaml
  tests/loaders/data/err_map_register_width_wrong_min.yaml
  tests/loaders/data/err_map_register_width_wrong_neg.yaml
  tests/loaders/data/err_map_register_width_wrong_npot.yaml
  tests/loaders/data/err_map_register_width_wrong_zero.yaml
  tests/loaders/data/ok_map_min.yaml
Due: ruff_format, ruff_lint, pyright, check-yaml
